@font-face {
    font-family: Belanga;
    src: url(../Fonts/Belanga.ttf);
}
@font-face {
    font-family: Nunito Sans;
    src: url(../Fonts/NunitoSans_10pt-Regular.ttf);
}
a.nav-link{
    color:#471F29!important;
    text-decoration : none;
}
a.nav-link:hover{
    color:#D05353 !important;
    text-decoration : underline;
}
a.foot-link{
    color: #471F29;
    text-decoration: none;
}
a.foot-link:visited{
    color: #471F29;
    text-decoration: none;
}
a.foot-link:hover{
    color: #D05353;
    text-decoration: underline;
}
hr{
    color: #D05353;
    border-color: #D05353;
    border: 1px solid;
}
.footerbg{
    background-color: #F2CDBA;
    padding-top: 2%;
    margin-top: 3%;
}
.ftHeader{
    font-family: Belanga;
    font-size: 40px;
    position: absolute;
    right: 15%;
}
.signup{
    margin-left: 50px;
}
.socials{
    display: flex;
    justify-content: end;
    margin-right: 50px;
}
.fthr{
    color: #471F29;
    border-color: #471F29;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
.foot-col{
    display: flex;
    justify-content: center;
}
.link-space{
    padding-top: 10px;
    padding-bottom: 10px;
}
.link-space-btm{
    padding-top: 5px;
    padding-bottom: 2%;
}
.footerBtn{
    background-color: #471F29;
    border: none;
    border-radius: 15px;
    width: 8%;
    height: 50px;
}
.ftBtnTxt{
    color: white;
    font-family: Nunito Sans;
    font-size: 25px;
}

.headerTxt{
    font-family: Belanga;
    color: #A42D2D;
    text-align: center;
    font-size: 64px;
    margin-top: 10px;
    margin-bottom: 1%;
}
.sub-header-txt{
    font-family: Belanga;
    color: black;
    text-align: center;
    font-size: 45px;
}
.bodyTxt{
    font-family: Nunito Sans;
}
a.wineBtn:hover{
    background-color: #471F29;
    border-color: #471F29;
    text-decoration: underline;
}
.wineBtn{
    background-color: #471F29;
    border: 1px solid #F2CDBA;
    border-radius: 15px;
}
.btnTxt{
    color: white;
    font-family: Belanga;
}


.blogBox{
    display: grid;
    grid-template-rows: 1fr 30px 1fr;
    width: 95%;
}
.blogPost{
    width: 90%;
    place-self: center;
    margin-top: 1%;
    margin-bottom: 2%;
}
.cardBg{
    background-color: #F2CDBA;
}
.headerBg{
    background-color: #471F29;
}
.blog-head-txt{
    font-size: 25px;
    color: white;
    margin-bottom: 1px;
}
.blogTitle{
    font-family: Nunito Sans;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 1%;
}
.blogBtn{
    display: grid;
    place-items: center;
    width: 14%;
    text-align: center;
}
.blog-btn-txt{
    font-size: 35px;
    margin: 15px;
}

.card-body{
    border-top: 1px solid black;
}
.card-img-top{
    height: 320px;
    object-fit: cover;
}