a.nav-link{
    color:#471F29!important;
    text-decoration : none;
}
a.nav-link:hover{
    color:#D05353 !important;
    text-decoration : underline;
}
.headerTxt{
    color: #A42D2D;
    text-align: center;
}