/* .BG{
    background-image: url(../Photos/Elisa.png);
    height: 500px;
} */

.Txt1{
    font-size: 25px ;
    font-weight:bold;
    padding-top: 10%;
    text-align: center;
    }
    .img{
        height: 500px;
    }
    .Titletxt{
        position: absolute;
        top: 32%;
        bottom: 50%;
        color: #F2CDBA;
       left: 20%;
    
    }
    .marginPhoto{
        margin-left: 5%;
    }
    .nutritionTxt{
        padding-right: 300px;
        padding-left: 300px;
     
    }
    @media screen and (max-width: 425px) {
        .titleBox{
            width: 150px;
        }
        .redBox2{
            background-color: #471F29;
            height: 700px;
        }
        .nutritionTxt{
            padding-right: 0px;
            padding-left: 0px;
         
        }
        .picOfE{
            display: flex;
            justify-content: center;
            height: 200px;
        }
    }
    .btn-primary{
        background-color: #F2CDBA!important;
        color: #471F29!important;
    }
    .marginsss{
        padding-top: 50px;
        padding-right: 300px;
    }
    .picOfE{
        height: 500px;
    }
    .howTxt{
        font-size: 30px;
    }
    .whiteTxt{
        color: white;
    }
    .whiteDec{
        text-decoration: underline;
    }
    .pinkTxt{
        color:#D05353;
    }
    a.nav-link{
        color:#471F29!important;
        text-decoration : none;
    }
    a.nav-link:hover{
        color:#D05353 !important;
        text-decoration : underline;
    }
    .titleBox{
        background-color: #471F29;
        height: 120px;
        position: absolute;
        top: 15%;
        bottom: 50%;
        width: 300px;
        margin-bottom: 40%;
        left: 15%;
        border-radius:20px ;
    }
    .inputGroup{
    margin-left: 2% ;
    }
    .form-control{
        border-radius: 0px;
    }
    .padIcon{
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    }
    .redBox{
        background-color: #471F29;
        height: 150px;
    }
    .redBox2{
        background-color: #471F29;
        height: 270px;
    }